body{
    margin:0 auto;padding:0;line-height:1.5em;font-family:"Microsoft YaHei";font-size:14px;color:#000000;
    text-align: center;
    max-width: auto;
    max-height: auto;
    height: 95%;height: 95%;
}
#chart{
    margin: 1.5%;text-align: center;height: 95%;height: 95%;
}
.ys{
    width:80%;height: 35%;margin: auto;
}
.ys img
{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.Redamancy{
  font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;   
    font:bold 24px/0.75em Arial,'Times New Roman','Microsoft YaHei',SimHei; 
    margin: auto;
    text-align: center;
}